0001_Telegram_Schedule_Automation_Scheduled.json
{
  "name": "#️⃣Nostr #damus AI Powered Reporting + Gmail + Telegram (Cloud)",
  "nodes": [
    {
      "id": "manual-trigger",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [-500, -60],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [-500, -260],
      "parameters": {
        "rule": {
          "interval": [
            {
              "unit": "hours",
              "value": 24
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "http-nostr",
      "name": "Fetch #damus Posts",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-160, -140],
      "parameters": {
        "method": "GET",
        "url": "https://api.nostr.band/v0/search?query=%23damus&kind=1&limit=50",
        "responseFormat": "json"
      },
      "typeVersion": 4
    },
    {
      "id": "extract-content",
      "name": "Extract Nostr Content",
      "type": "n8n-nodes-base.function",
      "position": [0, -140],
      "parameters": {
        "functionCode": "return items[0].json.events.map(e => ({ json: { content: e.content } }));"
      },
      "typeVersion": 2
    },
    {
      "id": "aggregate",
      "name": "Aggregate #damus Content",
      "type": "n8n-nodes-base.aggregate",
      "position": [120, -140],
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "thread-themes",
      "name": "#damus Thread Themes",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [500, -840],
      "parameters": {
        "text": "=Tell me the theme and highlight some common threads associated with these Nostr threads that are all #damus:\\n{{ $json.content.toJsonString() }}",
        "promptType": "define"
      },
      "typeVersion": 1.5
    },
    {
      "id": "themes-list",
      "name": "#damus Themes List",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [500, -400],
      "parameters": {
        "text": "=Extract a list of themes from this: {{ $json.text }}",
        "promptType": "define"
      },
      "typeVersion": 1.5
    },
    {
      "id": "final-report",
      "name": "#damus Themes & Threads Report",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [500, 80],
      "parameters": {
        "text": "=Analyze the #damus threads and generate a detailed report:\\n{{ $json.content.toJsonString() }}",
        "promptType": "define"
      },
      "typeVersion": 1.5
    },
    {
      "id": "telegram",
      "name": "Telegram Themes & Threads",
      "type": "n8n-nodes-base.telegram",
      "position": [1040, 360],
      "parameters": {
        "text": "={{ $json.text.slice(0,4000) }}",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}"
      },
      "typeVersion": 1.2
    },
    {
      "id": "gmail",
      "name": "Gmail Report",
      "type": "n8n-nodes-base.gmail",
      "position": [1080, 80],
      "parameters": {
        "sendTo": "YOUR_EMAIL@gmail.com",
        "subject": "#damus",
        "message": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "typeVersion": 2.1
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [[{ "node": "Fetch #damus Posts", "type": "main", "index": 0 }]]
    },
    "Schedule Trigger": {
      "main": [[{ "node": "Fetch #damus Posts", "type": "main", "index": 0 }]]
    },
    "Fetch #damus Posts": {
      "main": [[{ "node": "Extract Nostr Content", "type": "main", "index": 0 }]]
    },
    "Extract Nostr Content": {
      "main": [[{ "node": "Aggregate #damus Content", "type": "main", "index": 0 }]]
    },
    "Aggregate #damus Content": {
      "main": [[{ "node": "#damus Thread Themes", "type": "main", "index": 0 }]]
    },
    "#damus Thread Themes": {
      "main": [
        [{ "node": "#damus Themes List", "type": "main", "index": 0 }],
        [{ "node": "Telegram Themes & Threads", "type": "main", "index": 0 }]
      ]
    },
    "#damus Themes List": {
      "main": [[{ "node": "#damus Themes & Threads Report", "type": "main", "index": 0 }]]
    },
    "#damus Themes & Threads Report": {
      "main": [[{ "node": "Gmail Report", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
